<form (ngSubmit)="convert()" ngNativeValidate>
  <div class="form-group">
    <label for="name">Name</label>
    <input required type="text" [(ngModel)]="name" class="form-control" id="name" name="name"
      aria-describedby="nameHelp" placeholder="Enter your name" minlength="2" maxlength="50">
    <small id="nameHelp" class="form-text text-muted">Accepts value with length between 2 and 50 characters</small>
  </div>
  <div class="form-group">
    <label for="number">Number</label>
    <input required type="number" step="0.01" min="-1000" max="2147483647" [(ngModel)]="number" class="form-control" id="number" name="number"
      placeholder="Enter number to convert it in words" aria-describedby="numberHelp">
    <small id="numberHelp" class="form-text text-muted">Accepts only numeric values with range '-1000' to '2147483647' (which is max integer possible value)</small>
  </div>
  <button type="submit" class="btn btn-primary">Convert</button>
</form>
<br />
<div *ngIf="isSuccess" class="alert alert-success" role="alert">
  <p>{{nameResult}}</p>
  "{{numberResult}}"
</div>
